{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>
        Библиотека RoyalLib
    </h1>
    <p class="lead">RoyalLib - это библиотека, предназначенная для бесплатного чтения и скачивания книг.</p>
    <p><a href="https://royallib.com/" class="btn btn-primary btn-large">Узнать больше &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Приступая к работе</h2>
        <p>
            Одна из самых популярных электронных библиотек. Книги здесь предлагаются в разных форматах – и вы можете скачать именно тот, который лучше всего подходит для вашего ридера. Еще одна удобная функция библиотеки – чтение онлайн. Вы настраиваете дизайн «читалки» по вкусу – и наслаждаетесь чтением с большого экрана компьютера. Прерваться можно в любой момент – делаете закладку в книге и возвращаетесь к ней, когда захотите.
        </p>
        <p><a class="btn btn-default" href="https://royallib.com/genres.html">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Цитаты из книг</h2>
        <p>Самые яркие цитаты из самых разных книг.</p>
        <p><a class="btn btn-default" href="https://royallib.com/quotes.html">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>StudentLib</h2>
        <p>
            StudentLib.com - электронная база знаний студента.
            Она будет полезна всем, кто так или иначе связан с учебным процессом. Здесь вы найдете научные материалы по любой дисциплине и на любую тему.
        </p>
        <p><a class="btn btn-default" href="https://studentlib.com/">Узнать больше &raquo;</a></p>
    </div>
</div>

{% endblock %}
