{% extends "app/layout.html" %}

{% block content %}

<div>
    <h1>Видео-ролик 1</h1>
    <VIDEO scr="C:/Users/Татьяна/Downloads/DjangoWebProject1/DjangoWebProject1/DjangoWebProject1/media/rolik1.mp4" controls="controls" width="400" height="300" poster="C:/Users/Татьяна/Downloads/DjangoWebProject1/DjangoWebProject1/DjangoWebProject1/media/knigi.jpg"></VIDEO>
</div>
<hr/>
<div>
    <h1>Видео-ролик 2</h1>
    <VIDEO scr="C:/Users/Татьяна/Downloads/DjangoWebProject1/DjangoWebProject1/DjangoWebProject1/media/rolik2.mp4" controls="controls" width="400" height="300" poster="C:/Users/Татьяна/Downloads/DjangoWebProject1/DjangoWebProject1/DjangoWebProject1/media/kniga.jpg"></VIDEO>
</div>

{% endblock %}